extends layout

block content
    
    #main(class="about")
        h1 RAS-TA Riches
        img(src='/images/model.png')
        p
            | Island life and caribbean culture are 
            | not generally known for its chic outerwear nor 
            | is it known for its warm weather attire. Now 
            | perhaps in can be. MFW Apparel brings the laid 
            | back Rasta lifestyle to big city trendsetting. 
            | Created for the sophisticated yet active 
            | contemporary man, MFW looks to dress the 
            | gentleman that lives on the edge of life. MFW’s 
            | inaugural collection, The Ras Collection, merges 
            | innovative couture with vibrant details to create 
            | a classic and exclusive look.
        p.quote
            | The Ras Collection is bold. It is classic.
            | It is innovative and fashion forward.
        p
            | MFW Apparel started production in 2012 
            | and stems from its colorful identity rooted in 
            | the Jamaican lifestyle. Gathering inspiration 
            | from her roots in Jamaica, Sian Marlowe found 
            | a way to merge modern American fashion with a 
            | grass roots lifestyle to create a dashing and bold 
            | look. She credits her keen eye for fashion from 
            | observing her mother, a modern day dressmaker 
            | in Jamaica. Her mother would create everything 
            | from bed sheets to the clothes on her back; all by 
            | hand. She also credits her father who was very 
            | fashion forward as well and always encouraged 
            | her to dress to impress. Marlowe found her true 
            | love for fashion as a stylist for Nordstrom, the 
            | prominent leader in fashion retailing. Through 
            | her heritage, experiences and application, Sian 
            | has created a unique Caribbean aesthetic all of 
            | her own. MFW Apparel’s classic formula caters 
            | to a wide range of lifestyles. A piece from MFW 
            | can be seen anywhere from walking the beach 
            | in Venice, to strolling opulent street corners in 
            | London, to jet setting a top rated restaurant in 
            | Beverly Hills.
        p(class="")
            |One of the brand’s favorable pieces is 
            |the shirt jacket. A lightweight garment that 
            |provides stylish comfort in both warm and cool 
            |climates. The shirt jacket combines classic 
            |neutral tones with bold and vibrant details to 
            |make it a must have for any man who is searching 
            |for a reliable light weight cover up.
        p(class="")
            |MFW looks to capture the essence of 
            |the spirited and charismatic modern man. The 
            |Ras Collection pieces provide both classic 
            |function and modern fit making each piece 
            |easily interchangeable between casual and fashion 
            |forward events. MFW offers a wide variety of 
            |essential pieces enhanced with bold details that 
            |should complete any man’s wardrobe.
            |The brand’s creator, Sian Marlowe, will 
            |focus on producing men’s outerwear for now but 
            |plans to broaden her focus by producing tops, 
            |tees, trousers, accessories and women’s wear in 
            |the near future.


