extends layout

block content

    #main.contact
        h1(style='padding-left:10px') Contact
        address(style='padding-left:10px)            
            p P: (818)-862-1347
            p E: smarlowe@mfwapparel.com