extends layout

block content
    #main
        #coverimage
            img(src='images/ras_collection.png', id="rascollection")
            img(src='images/dude.png')
        #imageslider(class="carousel slide")
            .carousel-inner
                each image, index in images
                    if index == 0
                        div(class="item active")
                            img(src=image.src)
                    else
                        div(class="item")
                            img(src=image.src)
            a(class="carousel-control left", href="#imageslider", data-slide="prev") ‹
            a(class="carousel-control right", href="#imageslider", data-slide="next") ›