doctype 5
html
  head
    title MFWApparel
    link(rel='stylesheet', href="/css/bootstrap.css")
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    //script(src="libs/require.js")
    script(src='/js/main.js')
  body
    header
        a(href="/")
            #logo
        ul#topnav(class="horizontal")
    #sidebar
        ul
            li.textitem 
                a(href='/about') About
            li.textitem
                a(href='/contact') Contact
            li
                a(href='http://www.facebook.com/pages/TheRASCollection/115746898586576',target="blank")
                    img(src='/images/facebook.png')
            li
                a(href='https://twitter.com/mfwapparel', target="blank")
                    img(src='images/twitter.png')
    block content