doctype 5
html
  head
    title MFWApparel
    meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1")    
    link(rel='stylesheet', href="/css/bootstrap.css")
    link(rel='stylesheet', href='/css/style.css', media="only screen and (min-width: 1025px)")
    link(rel='stylesheet', href='/css/tablet.css', media="only screen and (max-width: 1024px)")
    link(rel='stylesheet', href='/css/small.css', media="only screen and (max-width: 480px)")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/director.min.js")
    script(src="/js/jquery.hammer.js")
    script(src="/js/fastclick.js")

    //script(src="libs/require.js")
    script(src='/js/main.js')
    script(src='js/small.js')
  body
    header
        a(href="/")
            #logo
        ul#topnav(class="horizontal")
    #sidebar
        ul
            li.textitem
                a(href="/") Home
            li.textitem 
                a(href='/about') About
            li.textitem
                a(href='/contact') Contact
            li
                a(href='http://www.facebook.com/pages/TheRASCollection/115746898586576',target="blank")
                    img(src='/images/facebook.png')
            li
                a(href='https://twitter.com/mfwapparel', target="blank")
                    img(src='images/twitter.png')
    block content