ul,
li,
body,
img {
  margin: 0;
  padding: 0;
}
ul li {
  padding: 20px;
}
body {
  width: 1280px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #383838;
  color: #fff;
  margin: auto;
}
a {
  color: #00b7ff;
}
.horizontal {
  height: 50px;
}
.horizontal li {
  display: inline;
  list-style-type: none;
}
#topnav {
  float: right;
  padding: 0px;
  padding-top: 30px;
}
#sidebar {
  clear: both;
  float: left;
  width: 170px;
  height: 900px;
  background-color: #383838;
  text-transform: uppercase;
  font-weight: bold;
}
#sidebar ul li {
  list-style-type: none;
  padding: 20px;
  text-align: center;

}
#sidebar ul li a {
  color: #fff;

}

#sidebar ul li.textitem {
    border-bottom: solid 1px #c0c0c0;

}

#sidebar ul li a:hover {
  text-decoration: underline;
}
#sidebar ul li#facebook {
  border-bottom: none 1px #c0c0c0;
}
#sidebar ul li#twitter {
  border-bottom: none 1px #c0c0c0;
}
#logo {
  float: left;
  background-image: url("../images/mfw-logo.png");
  background-repeat: no-repeat;
  height: 70px;
  width: 200px;
}
header {
  height: 80px;
  background-color: #000;
  background-image: url("../images/rastaborder.png");
  background-repeat: no-repeat;
  background-position: bottom;
/*

    -moz-border-image: url('../images/rastaborder.png');
    -webkit-border-image: url('../images/rastaborder.png');
    border-image: url('../images/rastaborder.png');
    */
}
#coverimage {
  background-color: #c7cad3;
  height: 550px;
}
#main {
  float: left;
  background-color: #383838;
}
#imageslider {
  background-color: rgb(221,224,232);
  position: relative;
  /*height: 425px; */ 
  width: 1108px;
}
#previous {
  position: absolute;
  top: 150px;
  left: 0;
  background-color: #919397;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#next {
  background-color: #919397;
  position: absolute;
  top: 150px;
  right: 0;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#imageslider .item img {
  float: left;
  border-top: solid 0px #000;
  border-bottom: solid 0px #000;
  margin-left: 0%;
}


form input[type=submit] {
  float: right;
  border: none;
  font-size: 18px;
  padding: 5px;
}

a.carousel-control {
    display: none; 
    border: none;
    background-color: transparent; 
    vertical-align: middle; 
    top: 45%; 
}

a.carousel-control.right {
    right: 0px; 
    text-align:right; 
}

a.carousel-control.left {
    left: 0px; 
    text-align: left;     
}


